<div id="banner">
  <div id="img_logo"><%= link_to image_tag("logo.png"),{controller: 'home', action: 'index'} %></div>

  <div id="authorize_block">
    <% if @authorized_user  -%>
        В системе:<br />
        <%= "#{@authorized_user.surname} #{@authorized_user.name}"  %><br />
        <%= button_to 'Выход',logout_path, method: :delete %>
    <% else %>
        <%= render 'users/signin' %>
    <% end %>
  </div>
  <div id="title"><%== @page_title || "Химический анализ топлива" %></div>
</div>