<p id="notice"><%= notice %></p>

<p>
  <b>Дата время:</b>
  <%= @news.dttm %>
</p>

<p>
  <b>Заголовок:</b>
  <%= @news.title %>
</p>

<p>
  <b>Описание:</b>
  <%== @news.description %>
</p>


<%= link_to 'Править', edit_news_path(@news) %> |
<%= link_to 'К списку новостей', news_index_path %>
