<%= form_for(@masut_assay) do |f| %>
  <% if @masut_assay.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@masut_assay.errors.count, "error") %> prohibited this masut_assay from being saved:</h2>

      <ul>
      <% @masut_assay.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <fieldset class="masut_assays_data">
      <div class="field">
        <%= f.label 'Структурное подразделение:' %>
        <%= f.select :subdivision, ['ТЭЦ-2','ТЭЦ-3','ТЭЦ-4','ТЭЦ-5','КРК'], include_blank: :true %>
      </div>
      <div class="field">
        <%= f.label 'Дата:' %>
        <%= f.date_select :dttm,  use_month_numbers: true, order: [:day, :month, :year], default: Date.today %>
      </div>
      <div class="field">
        <%= f.label 'Данные поставщика?:' %>
        <%= f.check_box :is_suplier_assay %>
      </div>
      <div class="field">
        <%= f.label 'Протокол/паспорт №:' %>
        <%= f.text_field :protocol_num, size: 8 %>
      </div>
      <div class="field">
        <%= f.label 'Плотность (кг/м3):' %>
        <%= f.text_field :density, size: 8 %>
      </div>
      <div class="field">
        <%= f.label 'Влажность (%):' %>
        <%= f.text_field :moisture, size: 8 %>
      </div>
      <div class="field">
        <%= f.label 'Сера (%):' %>
        <%= f.text_field :sera, size: 8 %>
      </div>
      <div class="field">
        <%= f.label 'Температура вспышки:' %>
        <%= f.text_field :flash_point, size: 8 %>
      </div>
      <div class="field">
        <%= f.label 'Зола (%):' %>
        <%= f.text_field :ash, size: 8 %>
      </div>
      <div class="field">
        <%= f.label 'Низшая рабочая теплота сгорания (ккал/кг):' %>
        <%= f.text_field :ncv, size: 8 %>
      </div>
      <div class="actions">
        <%= f.submit 'Принять' %>
      </div>
    </fieldset>

<% end %>
