<p id="notice"><%= notice %></p>

<p>
  <b>Subdivision:</b>
  <%= @masut_assay.subdivision %>
</p>

<p>
  <b>Dttm:</b>
  <%= @masut_assay.dttm %>
</p>

<p>
  <b>Density:</b>
  <%= @masut_assay.density %>
</p>

<p>
  <b>Moisture:</b>
  <%= @masut_assay.moisture %>
</p>

<p>
  <b>Sera:</b>
  <%= @masut_assay.sera %>
</p>

<p>
  <b>Flash point:</b>
  <%= @masut_assay.flash_point %>
</p>

<p>
  <b>Ash:</b>
  <%= @masut_assay.ash %>
</p>

<p>
  <b>Ncv:</b>
  <%= @masut_assay.ncv %>
</p>


<%= link_to 'Edit', edit_masut_assay_path(@masut_assay) %> |
<%= link_to 'Back', masut_assays_path %>
