<p id="notice"><%= notice %></p>

<p>
  <b>Структурное подразделение:</b>
  <%= @masut_assay.subdivision %>
</p>

<p>
  <b>Дата время:</b>
  <%= @masut_assay.dttm %>
</p>

<p>
  <b>Плотность:</b>
  <%= @masut_assay.density %>
</p>

<p>
  <b>Влага:</b>
  <%= @masut_assay.moisture %>
</p>

<p>
  <b>Сера:</b>
  <%= @masut_assay.sera %>
</p>

<p>
  <b>Температура вспышки:</b>
  <%= @masut_assay.flash_point %>
</p>

<p>
  <b>Зола:</b>
  <%= @masut_assay.ash %>
</p>

<p>
  <b>Низшая рабочая теплота сгорания:</b>
  <%= @masut_assay.ncv %>
</p>

<p>
  <b>Признак данных поставщика:</b>
  <%= @masut_assay.is_suplier_assay %>
</p>


<%= link_to 'Edit', edit_masut_assay_path(@masut_assay) %> |
<%= link_to 'Back', masut_assays_path %>
