<p>
  <b>СП</b>
  <%= @coil_assay.subdivision %>
</p>
<div class="form_title">
  <h2>
    <b>Протокол анализа угля № </b>
    <%= @coil_assay.protocol_num %>
  </h2>
</div>


<p>
  <b>Проба взята: </b>
  <%= @coil_assay.dttm.strftime("%d.%m.%Y") %>
</p>

<p>
  <b>Марка, класс угля:  </b>
  <%= @coil_assay.coil_class %>
</p>

<p>
  <b>Шахта (поставщик): </b>
  <%= @coil_assay.supplier %>
</p>

<p>
  <b>Номер маршрута:</b>
  <%= @coil_assay.route %>
</p> </br>

<table class="asset_table">
  <tr>
    <th>№</th>
    <th>Наименование показателя</th>
    <th>Обознач.</th>
    <th>Ед. изм.</th>
    <th>Результат</th>
  </tr>
  <tr>
    <td>1</td>
    <td class="align_left">Общая влага</td>
    <td>W<sub>t</sub><sup>r</sup></td>
    <td>%</td>
    <td><%= @coil_assay.w_r_t %></td>
  </tr>
  <tr>
    <td>2</td>
    <td class="align_left">Влага аналитической пробы</td>
    <td>W<sup>a</sup></td>
    <td>%</td>
    <td><%= @coil_assay.w_a %></td>
  </tr>
  <tr>
    <td>3</td>
    <td class="align_left">Зольность аналитической пробы</td>
    <td>A<sup>a</sup></td>
    <td>%</td>
    <td><%= @coil_assay.a_a %></td>
  </tr>
  <tr>
    <td>4</td>
    <td class="align_left">Зольность на рабочую массу</td>
    <td>A<sub>r</sub></td>
    <td>%</td>
    <td><%= @coil_assay.a_r %></td>
  </tr>
  <tr>
    <td>5</td>
    <td class="align_left">Зольность на сухую массу</td>
    <td>A<sup>d</sup></td>
    <td>%</td>
    <td><%= @coil_assay.a_d %></td>
  </tr>
  <tr>
    <td>6</td>
    <td class="align_left">Теплота сгорания по бомбе</td>
    <td>Q<sub>b</sub><sup>a</sup></td>
    <td>ккал/кг</td>
    <td><%= @coil_assay.q_a_b %></td>
  </tr>
  <tr>
    <td>7</td>
    <td class="align_left">Высшая теплота сгорания на сухую массу</td>
    <td>Q<sub>d</sub><sup>s</sup></td>
    <td>ккал/кг</td>
    <td><%= @coil_assay.q_d_s %></td>
  </tr>
  <tr>
    <td>8</td>
    <td class="align_left">Высшая теплота сгорания на сухую беззольную массу</td>
    <td>Q<sub>s</sub><sup>daf</sup></td>
    <td>ккал/кг</td>
    <td><%= @coil_assay.q_daf_s %></td>
  </tr>
  <tr>
    <td>9</td>
    <td class="align_left">Низшая теплота сгорания на рабочую массу</td>
    <td>Q<sub>i</sub><sup>r</sup></td>
    <td>ккал/кг</td>
    <td><%= @coil_assay.q_r_i %></td>
  </tr>
  <tr>
    <td>10</td>
    <td class="align_left">Выход летучих веществ на сухую беззольную массу (горючую)</td>
    <td>V<sup>daf</sup></td>
    <td>%</td>
    <td><%= @coil_assay.v_daf %></td>
  </tr>
  <tr>
    <td>11</td>
    <td class="align_left">Выход летучих веществ в аналитической пробе</td>
    <td>V<sup>a</sup></td>
    <td>%</td>
    <td><%= @coil_assay.v_a %></td>
  </tr>
  <tr>
    <td>12</td>
    <td class="align_left">Общий водород в аналитической пробе</td>
    <td>H<sup>a</sup></td>
    <td>%</td>
    <td><%= @coil_assay.h_a %></td>
  </tr>
  <tr>
    <td>13</td>
    <td class="align_left">Общая сера в аналитической пробе</td>
    <td>S<sup>a</sup></td>
    <td>%</td>
    <td><%= @coil_assay.s_a %></td>
  </tr>
</table></br>
<div class="no_print">
  <%= link_to 'К данным по углю', coil_assays_path %> |
  <%= link_to 'Править', edit_coil_assay_path(@coil_assay) %> |
  <%= link_to_function 'Печать', 'window.print();',class: 'nav_link' %>
</div>
<div class="no_view">
  <table class="sign">
    <tr><td colspan="2"></td> </tr>
    <tr>
      <td align="left">Начальник химического цеха</td>
      <td>_______________________________________________________</td>
    </tr>
    <tr>
      <td align="left">Анализ проводил</td>
      <td>_______________________________________________________</td>
    </tr>
  </table>
</div>