<table>
  <tr>
    <th>Структурное<br/>подразделение</th>
    <th>Дата</th>
    <th>Номер<br/>протокола /<br/>сертификата</th>
    <th>Номер<br/>маршрута</th>
    <th>Общая<br/>влага<br/>W<sub>t</sub><sup>r</sup><br/>(%)</th>
    <th>Зольность<br/>на сух. массу<br/>A<sup>d</sup><br/>(%)</th>
    <th>Низшая теплота<br/>сгорания<br/>Q<sub>i</sub><sup>r</sup><br/>(ккал/кг)</th>
    <th></th>
  </tr>

<% @coil_assays.each do |coil_assay| %>
  <tr <%= 'id=suplier_data' if coil_assay.is_suplier_assay %>>
    <td><%= coil_assay.subdivision %></td>
    <td><%= coil_assay.dttm.strftime("%d.%m.%Y") %></td>
    <td><%= coil_assay.protocol_num %></td>
    <td><%= coil_assay.route %></td>
    <td><%= coil_assay.w_r_t %></td>
    <td><%= coil_assay.a_d %></td>
    <td><%= coil_assay.q_r_i %></td>
    <td>
      <%= link_to image_tag("show_wb.png",:size => "16x16", :alt => "Подробно", :title => "Подробно"), coil_assay if grant_for_action(coil_assay.is_suplier_assay,@authorized_user)[:can_edit]%>
      <%= link_to image_tag("edit_wb.png",:size => "16x16", :alt => "Править", :title => "Править"), edit_coil_assay_path(coil_assay) if grant_for_action(coil_assay.is_suplier_assay,@authorized_user)[:can_edit]%>
      <%= link_to image_tag("delete_wb.png",:size => "16x16", :alt => "Удалить", :title =>"Удалить"), coil_assay, method: :delete, data: { confirm: 'Вы уверены?' } if grant_for_action(coil_assay.is_suplier_assay,@authorized_user)[:can_delete]%>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Ввести данные новой пробы', new_coil_assay_path if grant_for_new_assay?(@authorized_user)%>

<% content_for :manual do %>
    <p id="manual">
      <i>Краткая справка:</i><br/>
      На этой странице Вы получаете возможность просматривать данные о качестве угля. Строки выделенные цветом соответствуют данным сертификатов на партию.
      Здесь доступны следующие действия:<br />
      <%= image_tag("show_wb.png") %> - посмотреть данные подробнее и получить возможность вывести форму на печать;<br />
      <%= image_tag("edit_wb.png") %> - редактировать данные анализов качества;<br />
      <%= image_tag("delete_wb.png") %> - удалить данные анализов качества.<br />
      <br />
      Для завершения работы в приложении всегда можно нажать кнопку 'Выход' в верхнем правом углу.
    </p>
<% end %>