<p id="notice"><%= notice %></p>

<p>
  <b>Subdivision:</b>
  <%= @coil_assay.subdivision %>
</p>

<p>
  <b>Dttm:</b>
  <%= @coil_assay.dttm %>
</p>

<p>
  <b>Route:</b>
  <%= @coil_assay.route %>
</p>

<p>
  <b>Moisture:</b>
  <%= @coil_assay.moisture %>
</p>

<p>
  <b>Wf ash:</b>
  <%= @coil_assay.wf_ash %>
</p>

<p>
  <b>Df ash:</b>
  <%= @coil_assay.df_ash %>
</p>

<p>
  <b>Letuch:</b>
  <%= @coil_assay.letuch %>
</p>

<p>
  <b>Sera:</b>
  <%= @coil_assay.sera %>
</p>

<p>
  <b>Ncv:</b>
  <%= @coil_assay.ncv %>
</p>


<%= link_to 'Edit', edit_coil_assay_path(@coil_assay) %> |
<%= link_to 'Back', coil_assays_path %>
