<p id="notice"><%= notice %></p>

<p>
  <b>Структурное подразделение:</b>
  <%= @coil_assay.subdivision %>
</p>

<p>
  <b>Дата время:</b>
  <%= @coil_assay.dttm %>
</p>

<p>
  <b>Номер маршрута:</b>
  <%= @coil_assay.route %>
</p>

<p>
  <b>Влага рабочая:</b>
  <%= @coil_assay.moisture %>
</p>

<p>
  <b>Зольность рабочего топлива:</b>
  <%= @coil_assay.wf_ash %>
</p>

<p>
  <b>Зольность сухого топлива:</b>
  <%= @coil_assay.df_ash %>
</p>

<p>
  <b>Выход летучих веществ:</b>
  <%= @coil_assay.letuch %>
</p>

<p>
  <b>Выход серы:</b>
  <%= @coil_assay.sera %>
</p>

<p>
  <b>Низшая теплота сгорания:</b>
  <%= @coil_assay.ncv %>
</p>

<p>
  <b>Признак данных поставщика:</b>
  <%= @coil_assay.is_suplier_assay %>
</p>


<%= link_to 'Edit', edit_coil_assay_path(@coil_assay) %> |
<%= link_to 'Back', coil_assays_path %>
