<%= form_for(@gaz_assay) do |f| %>
  <% if @gaz_assay.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gaz_assay.errors.count, "error") %> prohibited this gaz_assay from being saved:</h2>

      <ul>
      <% @gaz_assay.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <fieldset class="gaz_assays_data">

      <div class="field">
        <%= f.label 'СП:' %>
        <%= f.select :subdivision, ['ТЭЦ-2','ТЭЦ-3','ТЭЦ-4','КРК'] %>
      </div>
      <div class="field">
        <%= f.label 'Данные поставщика?:' %>
        <%= f.check_box :is_suplier_assay %>
      </div>
      <div class="field">
        <%= f.label 'Протокол/паспорт №:' %>
        <%= f.text_field :protocol_num, size: 8 %>
      </div>
      <div class="field">
        <%= f.label 'Дата:' %>
        <%= f.date_select :dttm, use_month_numbers: true, order: [:day, :month, :year], default: Date.today %>
      </div>
      <div class="field">
        <%= f.label 'Низшая теплота сгорания (ккал/кг):' %>
        <%= f.text_field :ncv, size: 8 %>
      </div>
      <div class="actions">
        <%= f.submit 'Принять' %>
      </div>
    </fieldset>


<% end %>
