<table>
  <tr>
    <th>Структурное<br/>подразделение</th>
    <th>Дата</th>
    <th>Номер<br/>протокола/паспорта</th>
    <th>Низшая теплота<br/>сгорания (ккал/кг)</th>
    <th></th>
  </tr>

<% @gaz_assays.each do |gaz_assay| %>
  <tr <%= 'id=suplier_data' if gaz_assay.is_suplier_assay %>>
    <td><%= gaz_assay.subdivision %></td>
    <td><%= gaz_assay.dttm.strftime("%d.%m.%Y") %></td>
    <td><%= gaz_assay.protocol_num %></td>
    <td><%= gaz_assay.ncv %></td>
    <td>
      <%= link_to image_tag("show_wb.png",:size => "16x16", :alt => "Подробно", :title => "Подробно"), gaz_assay if grant_for_action(false,@authorized_user)[:can_edit]%>
      <%= link_to image_tag("edit_wb.png",:size => "16x16", :alt => "Править", :title => "Править"), edit_gaz_assay_path(gaz_assay) if grant_for_action(false)[:can_edit]%>
      <%= link_to image_tag("delete_wb.png",:size => "16x16", :alt => "Удалить", :title =>"Удалить"), gaz_assay, method: :delete, data: { confirm: 'Вы уверены?' } if grant_for_action(false)[:can_delete]%>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Ввести данные новой пробы', new_gaz_assay_path  if grant_for_new_assay? %>

<% content_for :manual do %>
    <p id="manual">
      <i>Краткая справка:</i><br/>
      На этой странице Вы получаете возможность просматривать данные о качестве газа. Строки выделенные цветом соответствуют данным сертификатов.
      Здесь доступны следующие действия:<br />
      <%= image_tag("show_wb.png") %> - посмотреть данные подробнее и получить возможность вывести форму на печать;<br />
      <%= image_tag("edit_wb.png") %> - редактировать данные анализов качества;<br />
      <%= image_tag("delete_wb.png") %> - удалить данные анализов качества.<br />
      <br />
      Для завершения работы в приложении всегда можно нажать кнопку 'Выход' в верхнем правом углу.
    </p>
<% end %>