<p id="notice"><%= notice %></p>

<p>
  <b>Subdivision:</b>
  <%= @gaz_assay.subdivision %>
</p>

<p>
  <b>Dttm:</b>
  <%= @gaz_assay.dttm %>
</p>

<p>
  <b>Ncv:</b>
  <%= @gaz_assay.ncv %>
</p>


<%= link_to 'Edit', edit_gaz_assay_path(@gaz_assay) %> |
<%= link_to 'Back', gaz_assays_path %>
