<!DOCTYPE html>
<html>
<head>
  <title>Качество топлива</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tag %>
</head>
<body class="<%= controller.controller_name %>">
    <%= render 'home/header' %>
    <div id="columns">
      <div id="menu">
        <% if session[:user_id]  -%>
            <%= 'Результаты качественного анализа:' if (has_grant?(:index,@user) || has_grant?(:edit,@user) || has_grant?(:correct,@user))%>
            <ul>
              <li><%= link_to 'Уголь', coil_assays_path if has_fuel?(:coil,@user) %></li>
              <li><%= link_to 'Газ', gaz_assays_path if has_fuel?(:gaz,@user) %></li>
              <li><%= link_to 'Мазут', masut_assays_path if has_fuel?(:masut,@user) %></li>
            </ul>
            <% if (@user.grants & 256) > 0 -%>
                Администрирование
                <ul>
                  <li><%= link_to('Пользователи', users_path) %></li>
                  <li><%= link_to('Новости', news_index_path) %></li>
                </ul>
            <% end -%>
            <% if has_grant?(:report,@user) %>
                <%= form_tag controller: 'reporter', action: 'view' do %>
                    <fieldset class="report_settings">
                      <legend>Отчет</legend>
                      <%= select_tag :fuel, options_for_select(['Уголь','Газ','Мазут','Все']) %>
                      <%= select_tag :period, options_for_select(['Текущий месяц','Прошлый месяц','Текущий квартал','Текущий год']) %>
                      <%= submit_tag('Показать') %>
                    </fieldset>
                <% end -%>
            <% end -%>
        <% end -%>

      </div>

      <div id="main">
        <% if flash[:notice] -%>
            <div id="notice"><%= flash[:notice] %></div>
        <% end -%>
        <% if flash[:error] -%>
            <div id="error"><%= flash[:error] %></div>
        <% end -%>
        <%= yield %>
      </div>
    </div>
</body>
</html>
